* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
   width: 100%;
   background-image: url("../img/header-background.png");
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   .topbar {
    //    padding-top: 40px;
    //    padding-bottom: 40px;
       padding:40px 0;
       .row {
           flex-wrap: wrap;
           margin-left: 0px;
           margin-right: 0px;
        // max-height: 52px;
           justify-content: space-between;
       }
       .logo {
           padding: 0;
           @media (max-width: 767.98px){
               text-align: center;
               margin-bottom: 15px;
           }
       }
       .navigation {
           padding-right: 0;
           padding-left: 0;
           display: flex;
           align-items: stretch;
           justify-content: space-between;
           nav {
               display: flex;
               align-items: stretch;
               width: 100%;
               ul {
                    list-style-type: none;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;
                    margin-bottom: 0px;
                    width: 100%;
                    @media (max-width: 500px){
                        flex-direction: column;
                        align-items: center;
                    }
                    li{
                        font-family: 'Open Sans';
                        font-size: 14px;
                        text-transform: uppercase;
                        color:#f4f5f9;
                        // margin-right: 60px;
                        padding-bottom: 23px;
                        border-bottom: 1px solid transparent;
                        transition: border linear 0.2s;
                        @media (max-width: 500px){
                            padding-bottom: 15px;
                            margin-bottom: 10px;

                        }
                        &:last-of-type{
                            margin-right: 0;
                        }
                        &:hover {
                            font-size: 14px;
                            padding-bottom: 23px;
                            color: #e53624;
                            border-bottom: 1px solid #e53624;
                        }
                        a {
                            text-decoration: none;
                            color: inherit;
                        }
                    }
               }
           }
       }
   }
}

.slides{
    padding: 190px 0px;
    @media (max-width: 769px) {
        padding: 90px 0px;
    }
    font-family: 'Open Sans';
    .sm-heading {
        color:#f4f5f9;
        font-size: 24px;
        font-family: "Source Sans Pro";
        margin-bottom: 37px;
        @media (max-width: 769px) {
            margin-bottom: 20px;
            font-size: 18px;
        }
    }
    .main-heading {
        text-transform: uppercase;
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 5.4298642534vw;
        color:#f4f5f9;
        letter-spacing: 0.1em;
        margin-bottom: 15px;
        @media (max-width: 575px) {
            font-size: 8.5vw;
        }
        @media (min-width: 576px) and (max-width: 767.92px){
            font-size: 6.4vw;
        }
    }
    .redDot{
        background-color: #e74c3c;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        position: relative;
        margin-bottom: 45px;
        &::after{
            content: "";
            display: block;
            height: 1px;
            width: 80px;
            background-color: #f1ebe7;
            position: absolute;
            top: 4px;
            left: 22px;              
        }
        &::before {
            content: "";
            display: block;
            height: 1px;
            width: 80px;
            background-color: #f1ebe7;
            position: absolute;
            top: 4px;
            right: 22px;    
        }
    }
    .par {
        padding: 0;
        text-align: center;
        font-family: "Open Sans";
        color:#cbc6c0;
        font-size: 14px;
        margin-bottom: 63px;
    }
    .slide-btn {
        width: 15.822912vw;
        white-space: nowrap; 
        padding: 20px 0;
        text-transform: uppercase;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 14px;
        color: #ffffff;
        background-color: transparent;
        border: 3px solid transparent;
        outline: 1px solid #ffffff;
        outline-offset: -3px;
        transition: background-color 0.2s;
        @media (min-width: 991px) and (max-width: 1199.98px) {
            width: 15.822912vw;   
        }
        @media (min-width: 768px) and (max-width: 990.98px) {
            width: 19.822912vw;   
        }
        @media (min-width:448px) and (max-width: 767.92px) {
            width: 32.822912vw;   
        }
        @media (max-width: 447.92px) {
            width: 44.822912vw;   
        }
        &:hover {
            background-color: #e74c3c;
            outline: 0px;
            border: 3px solid #e74c3c;
        }
        &:first-of-type{
            margin-right: 28px;
            @media (max-width: 767.92px) {
                margin-right: 15px;
            }
        }
    }
}

.carousel-control-next, .carousel-control-prev {
    width: 45px;
    height: 45px;
    background-color: #fff;
    opacity: 0.25;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: 576px) {
        top: 33%;    
    }
    &:hover{
        background-color: #e74c3c;
        opacity: 1;
    }
}

.carousel-control-prev {
    left: 50px;
    background-image: url("../img/left.png");
    background-position: center center;
    background-repeat: no-repeat;
    @media (max-width: 890px) {
        left: 10px;    
    }
    &:hover {
        background-image: url("../img/left-hover.png");
        background-position: center center;
        background-repeat: no-repeat;
          
    } 
}
.carousel-control-next {
    right: 50px;
    background-image: url("../img/right.png");
    background-position: center center;
    background-repeat: no-repeat;
    @media (max-width: 890px) {
        right: 10px;    
    }
    &:hover {
        background-image: url("../img/right-hover.png");
        background-position: center center;
        background-repeat: no-repeat;
    }
}
.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .gallery-item {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
        position: relative;
        @media (max-width: 767.97px){
            width: 100%;
            &:nth-last-of-type(1){order:4;}
            &:nth-last-of-type(2){order:2;}
            &:nth-last-of-type(3){order:3;}
            &:nth-last-of-type(4){order:1;}
        }
        &:hover {
            .img {
                width: 50%;
            }
            .description {
                opacity: 1;
            }
            &:nth-of-type(3){
                flex-direction: row-reverse;
            }
            &:nth-of-type(4){
                flex-direction: row-reverse;
            }
        }
        .first {background-image: url("../img/gallery-first.jpg");}
        .second {background-image: url("../img/gallery-second.jpg");}
        .third {background-image: url("../img/gallery-third.jpg");}
        .four {background-image: url("../img/gallery-four.jpg");}
        .img{
            width: 100%;
            height: 480px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            transition: 0.3s;
            @media (max-width: 767.97px){
                height: 400px;
            }
        }
        .description {
            position: absolute;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            width: 50%;
            height: 480px;
            padding: 68px 50px;
            background-color: #e74e3e;
            opacity: 0;
            transition: opacity 0.3s;
            @media (max-width: 767.97px){
                height: 400px;
            }
            @media (min-width:320px) and (max-width: 374.92px) {
                padding: 5px 10px;   
            }
            @media (min-width:375px) and (max-width: 767.92px) {
                padding: 10px 20px;   
            }
            @media (min-width:768px) and (max-width: 991.92px) {
                padding: 25px 28px;   
            }
            @media (min-width:992px) and (max-width: 1199.92px) {
                padding: 40px 30px;  
            }
            h6 {
                font-family: "Open Sans";
                font-size: 14px;
                color: #fff;
            }
            h3 {
                font-family: "Source Sans Pro";
                font-weight: 600;
                font-size: 24px;
                text-transform: uppercase;
                color:#fff;
                position: relative;
                padding-bottom: 12px;
                &::after{
                    content:"";
                    display: block;
                    width: 44px;
                    height: 4px;
                    background-color: #fff;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }
            p {
                color: #fff;
                font-family: "Open Sans";
                font-size: 12px;
                line-height: 1.7;
            }
            a {
                color:#fff;
                font-family: 'Open Sans';
                font-weight: 600;
                font-style: italic;
                position: relative;
                &::before{
                    content:"";
                    display: block;
                    width: 6px;
                    position: absolute;
                    top: 25%;
                    bottom: 25%;
                    left: 90px;
                    background-image: url('../img/right-hover.png');
                    background-size: contain;
                    transform: rotate(0deg);
                }
                &::after{
                    content:"";
                    display: block;
                    width: 6px;
                    position: absolute;
                    top: 25%;
                    bottom: 25%;
                    left: 94px;
                    background-image: url('../img/right-hover.png');
                    background-size: contain;
                    transform: rotate(0deg);
                }
            }
        }
        .desc-left {
            top: 0;
            right: 0;
            &::after {
                content:"";
                display: block;
                width: 28px;
                height: 70px;
                background-image: url('../img/triangle.png');
                position: absolute;
                top:50%;
                left: -27px;
                transform: translateY(-50%);
            }
        }
        .desc-right {
            top: 0;
            left: 0;
            &::after {
                content:"";
                display: block;
                width: 28px;
                height: 70px;
                background-image: url('../img/triangle.png');
                position: absolute;
                top:50%;
                right: -27px;
                transform: translateY(-50%);
                transform: rotate(180deg);
            }
        }
    }
}

.promo {
    padding: 148px 0;
    text-align: center;
    background-image: url('../img/promo-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color:#fff;
    @media (min-width: 320px) and (max-width:575.97px){

    }
    @media (min-width: 576px) and (max-width:767.97px){
        
    }
    @media (min-width: 768px) and (max-width:991.97px){
        
    }
    @media (min-width: 992px) and (max-width:1199.97px){
        
    }
    h2 {
        font-family: 'Open Sans';
        font-size: 36px;
        margin-bottom: 22px;
        @media (min-width: 320px) and (max-width:575.97px){
            font-size: 29px;
        }
        @media (min-width: 576px) and (max-width:767.97px){
            
        }
        @media (min-width: 768px) and (max-width:991.97px){
            
        }
        @media (min-width: 992px) and (max-width:1199.97px){
            
        }
    }
    h5 {
        font-family: 'Open Sans';
        font-size: 18px;
        margin-bottom: 69px;
        @media (min-width: 320px) and (max-width:575.97px){
            font-size: 15px;
            margin-bottom: 40px;
        }
        @media (min-width: 576px) and (max-width:767.97px){
            
        }
        @media (min-width: 768px) and (max-width:991.97px){
            
        }
        @media (min-width: 992px) and (max-width:1199.97px){
            
        }
    }
    button {
        padding: 23px 0px;
        text-transform: uppercase;
        color:#fff;
        background-color: #e74c3c;
        border: none;
        font-weight: bold;
        font-size: 14px;
        white-space: nowrap;
       
    }
}

.footer {
    background-color: #202020;
    padding: 35px 0;
    .footer-wrap{
        padding: 0;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        @media (max-width:511px) {
            flex-direction: column;
            align-items: center;
        }
        .socials {
            @media (max-width:511px) {
                width: 90%;
            }
            ul {
                list-style-type: none;
                display: flex;
                flex-direction: row;
                flex-wrap:nowrap;
                margin-bottom: 0;
                @media (max-width:511px) {
                    justify-content: space-around;
                }
                li {
                    color:#999999;
                    width: 23px;
                    height: 23px;
                    margin-right: 23px;
                    @media (max-width:767.98px) {
                        margin-right: 15px;
                    }
                    
                }
                a:nth-of-type(1) {
                    li {
                        background-image: url('../img/facebook.png');
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        &:hover {
                            background-image: url('../img/facebook-hover.png');
                        }
                    }
                }
                a:nth-of-type(2) {
                    li {
                        background-image: url('../img/twitter.png');
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        &:hover {
                            background-image: url('../img/twitter-hover.png');
                        }
                    }
                }
                a:nth-of-type(3) {
                    li {
                        background-image: url('../img/rss.png');
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        &:hover {
                            background-image: url('../img/rss-hover.png');
                        }
                    }
                }
                a:nth-of-type(4) {
                    li {
                        background-image: url('../img/google.png');
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        &:hover {
                            background-image: url('../img/google-hover.png');
                        }
                    }
                }
                a:nth-of-type(5) {
                    li {
                        background-image: url('../img/linkedin.png');
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        &:hover {
                            background-image: url('../img/linkedin-hover.png');
                        }
                    }
                }
                a:nth-of-type(6) {
                    li {
                        background-image: url('../img/skype.png');
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        &:hover {
                            background-image: url('../img/skype-hover.png');
                        }
                    }
                }
                a:nth-of-type(7) {
                    li {
                        background-image: url('../img/vimeo.png');
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        &:hover {
                            background-image: url('../img/vimeo-hover.png');
                        }
                    }
                }
                a:nth-of-type(8) {
                    li {
                        background-image: url('../img/twitter.png');
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        &:hover {
                            background-image: url('../img/twitter-hover.png');
                        }
                    }
                }
            }
        }
        .copyright {
            color:#999999;
            font-family: "Open Sans";
            font-size: 14px;
            @media (max-width:511px) {
                margin-top: 15px;
                justify-content: center;
            }
        }
    }
}