* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.header {
  width: 100%;
  background-image: url("../img/header-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .header .topbar {
    padding: 40px 0; }
    .header .topbar .row {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-left: 0px;
      margin-right: 0px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .header .topbar .logo {
      padding: 0; }
      @media (max-width: 767.98px) {
        .header .topbar .logo {
          text-align: center;
          margin-bottom: 15px; } }
    .header .topbar .navigation {
      padding-right: 0;
      padding-left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .header .topbar .navigation nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%; }
        .header .topbar .navigation nav ul {
          list-style-type: none;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          -webkit-box-align: end;
          -ms-flex-align: end;
          align-items: flex-end;
          margin-bottom: 0px;
          width: 100%; }
          @media (max-width: 500px) {
            .header .topbar .navigation nav ul {
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center; } }
          .header .topbar .navigation nav ul li {
            font-family: 'Open Sans';
            font-size: 14px;
            text-transform: uppercase;
            color: #f4f5f9;
            padding-bottom: 23px;
            border-bottom: 1px solid transparent;
            -webkit-transition: border linear 0.2s;
            transition: border linear 0.2s; }
            @media (max-width: 500px) {
              .header .topbar .navigation nav ul li {
                padding-bottom: 15px;
                margin-bottom: 10px; } }
            .header .topbar .navigation nav ul li:last-of-type {
              margin-right: 0; }
            .header .topbar .navigation nav ul li:hover {
              font-size: 14px;
              padding-bottom: 23px;
              color: #e53624;
              border-bottom: 1px solid #e53624; }
            .header .topbar .navigation nav ul li a {
              text-decoration: none;
              color: inherit; }

.slides {
  padding: 190px 0px;
  font-family: 'Open Sans'; }
  @media (max-width: 769px) {
    .slides {
      padding: 90px 0px; } }
  .slides .sm-heading {
    color: #f4f5f9;
    font-size: 24px;
    font-family: "Source Sans Pro";
    margin-bottom: 37px; }
    @media (max-width: 769px) {
      .slides .sm-heading {
        margin-bottom: 20px;
        font-size: 18px; } }
  .slides .main-heading {
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 5.4298642534vw;
    color: #f4f5f9;
    letter-spacing: 0.1em;
    margin-bottom: 15px; }
    @media (max-width: 575px) {
      .slides .main-heading {
        font-size: 8.5vw; } }
    @media (min-width: 576px) and (max-width: 767.92px) {
      .slides .main-heading {
        font-size: 6.4vw; } }
  .slides .redDot {
    background-color: #e74c3c;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 45px; }
    .slides .redDot::after {
      content: "";
      display: block;
      height: 1px;
      width: 80px;
      background-color: #f1ebe7;
      position: absolute;
      top: 4px;
      left: 22px; }
    .slides .redDot::before {
      content: "";
      display: block;
      height: 1px;
      width: 80px;
      background-color: #f1ebe7;
      position: absolute;
      top: 4px;
      right: 22px; }
  .slides .par {
    padding: 0;
    text-align: center;
    font-family: "Open Sans";
    color: #cbc6c0;
    font-size: 14px;
    margin-bottom: 63px; }
  .slides .slide-btn {
    width: 15.822912vw;
    white-space: nowrap;
    padding: 20px 0;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    background-color: transparent;
    border: 3px solid transparent;
    outline: 1px solid #ffffff;
    outline-offset: -3px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s; }
    @media (min-width: 991px) and (max-width: 1199.98px) {
      .slides .slide-btn {
        width: 15.822912vw; } }
    @media (min-width: 768px) and (max-width: 990.98px) {
      .slides .slide-btn {
        width: 19.822912vw; } }
    @media (min-width: 448px) and (max-width: 767.92px) {
      .slides .slide-btn {
        width: 32.822912vw; } }
    @media (max-width: 447.92px) {
      .slides .slide-btn {
        width: 44.822912vw; } }
    .slides .slide-btn:hover {
      background-color: #e74c3c;
      outline: 0px;
      border: 3px solid #e74c3c; }
    .slides .slide-btn:first-of-type {
      margin-right: 28px; }
      @media (max-width: 767.92px) {
        .slides .slide-btn:first-of-type {
          margin-right: 15px; } }

.carousel-control-next, .carousel-control-prev {
  width: 45px;
  height: 45px;
  background-color: #fff;
  opacity: 0.25;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media (max-width: 576px) {
    .carousel-control-next, .carousel-control-prev {
      top: 33%; } }
  .carousel-control-next:hover, .carousel-control-prev:hover {
    background-color: #e74c3c;
    opacity: 1; }

.carousel-control-prev {
  left: 50px;
  background-image: url("../img/left.png");
  background-position: center center;
  background-repeat: no-repeat; }
  @media (max-width: 890px) {
    .carousel-control-prev {
      left: 10px; } }
  .carousel-control-prev:hover {
    background-image: url("../img/left-hover.png");
    background-position: center center;
    background-repeat: no-repeat; }

.carousel-control-next {
  right: 50px;
  background-image: url("../img/right.png");
  background-position: center center;
  background-repeat: no-repeat; }
  @media (max-width: 890px) {
    .carousel-control-next {
      right: 10px; } }
  .carousel-control-next:hover {
    background-image: url("../img/right-hover.png");
    background-position: center center;
    background-repeat: no-repeat; }

.gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .gallery .gallery-item {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    position: relative; }
    @media (max-width: 767.97px) {
      .gallery .gallery-item {
        width: 100%; }
        .gallery .gallery-item:nth-last-of-type(1) {
          -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
          order: 4; }
        .gallery .gallery-item:nth-last-of-type(2) {
          -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
          order: 2; }
        .gallery .gallery-item:nth-last-of-type(3) {
          -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
          order: 3; }
        .gallery .gallery-item:nth-last-of-type(4) {
          -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
          order: 1; } }
    .gallery .gallery-item:hover .img {
      width: 50%; }
    .gallery .gallery-item:hover .description {
      opacity: 1; }
    .gallery .gallery-item:hover:nth-of-type(3) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
    .gallery .gallery-item:hover:nth-of-type(4) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
    .gallery .gallery-item .first {
      background-image: url("../img/gallery-first.jpg"); }
    .gallery .gallery-item .second {
      background-image: url("../img/gallery-second.jpg"); }
    .gallery .gallery-item .third {
      background-image: url("../img/gallery-third.jpg"); }
    .gallery .gallery-item .four {
      background-image: url("../img/gallery-four.jpg"); }
    .gallery .gallery-item .img {
      width: 100%;
      height: 480px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      @media (max-width: 767.97px) {
        .gallery .gallery-item .img {
          height: 400px; } }
    .gallery .gallery-item .description {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 50%;
      height: 480px;
      padding: 68px 50px;
      background-color: #e74e3e;
      opacity: 0;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s; }
      @media (max-width: 767.97px) {
        .gallery .gallery-item .description {
          height: 400px; } }
      @media (min-width: 320px) and (max-width: 374.92px) {
        .gallery .gallery-item .description {
          padding: 5px 10px; } }
      @media (min-width: 375px) and (max-width: 767.92px) {
        .gallery .gallery-item .description {
          padding: 10px 20px; } }
      @media (min-width: 768px) and (max-width: 991.92px) {
        .gallery .gallery-item .description {
          padding: 25px 28px; } }
      @media (min-width: 992px) and (max-width: 1199.92px) {
        .gallery .gallery-item .description {
          padding: 40px 30px; } }
      .gallery .gallery-item .description h6 {
        font-family: "Open Sans";
        font-size: 14px;
        color: #fff; }
      .gallery .gallery-item .description h3 {
        font-family: "Source Sans Pro";
        font-weight: 600;
        font-size: 24px;
        text-transform: uppercase;
        color: #fff;
        position: relative;
        padding-bottom: 12px; }
        .gallery .gallery-item .description h3::after {
          content: "";
          display: block;
          width: 44px;
          height: 4px;
          background-color: #fff;
          position: absolute;
          left: 0;
          bottom: 0; }
      .gallery .gallery-item .description p {
        color: #fff;
        font-family: "Open Sans";
        font-size: 12px;
        line-height: 1.7; }
      .gallery .gallery-item .description a {
        color: #fff;
        font-family: 'Open Sans';
        font-weight: 600;
        font-style: italic;
        position: relative; }
        .gallery .gallery-item .description a::before {
          content: "";
          display: block;
          width: 6px;
          position: absolute;
          top: 25%;
          bottom: 25%;
          left: 90px;
          background-image: url("../img/right-hover.png");
          background-size: contain;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg); }
        .gallery .gallery-item .description a::after {
          content: "";
          display: block;
          width: 6px;
          position: absolute;
          top: 25%;
          bottom: 25%;
          left: 94px;
          background-image: url("../img/right-hover.png");
          background-size: contain;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg); }
    .gallery .gallery-item .desc-left {
      top: 0;
      right: 0; }
      .gallery .gallery-item .desc-left::after {
        content: "";
        display: block;
        width: 28px;
        height: 70px;
        background-image: url("../img/triangle.png");
        position: absolute;
        top: 50%;
        left: -27px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
    .gallery .gallery-item .desc-right {
      top: 0;
      left: 0; }
      .gallery .gallery-item .desc-right::after {
        content: "";
        display: block;
        width: 28px;
        height: 70px;
        background-image: url("../img/triangle.png");
        position: absolute;
        top: 50%;
        right: -27px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }

.promo {
  padding: 148px 0;
  text-align: center;
  background-image: url("../img/promo-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff; }
  .promo h2 {
    font-family: 'Open Sans';
    font-size: 36px;
    margin-bottom: 22px; }
    @media (min-width: 320px) and (max-width: 575.97px) {
      .promo h2 {
        font-size: 29px; } }
  .promo h5 {
    font-family: 'Open Sans';
    font-size: 18px;
    margin-bottom: 69px; }
    @media (min-width: 320px) and (max-width: 575.97px) {
      .promo h5 {
        font-size: 15px;
        margin-bottom: 40px; } }
  .promo button {
    padding: 23px 0px;
    text-transform: uppercase;
    color: #fff;
    background-color: #e74c3c;
    border: none;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap; }

.footer {
  background-color: #202020;
  padding: 35px 0; }
  .footer .footer-wrap {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 511px) {
      .footer .footer-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    @media (max-width: 511px) {
      .footer .footer-wrap .socials {
        width: 90%; } }
    .footer .footer-wrap .socials ul {
      list-style-type: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      margin-bottom: 0; }
      @media (max-width: 511px) {
        .footer .footer-wrap .socials ul {
          -ms-flex-pack: distribute;
          justify-content: space-around; } }
      .footer .footer-wrap .socials ul li {
        color: #999999;
        width: 23px;
        height: 23px;
        margin-right: 23px; }
        @media (max-width: 767.98px) {
          .footer .footer-wrap .socials ul li {
            margin-right: 15px; } }
      .footer .footer-wrap .socials ul a:nth-of-type(1) li {
        background-image: url("../img/facebook.png");
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat; }
        .footer .footer-wrap .socials ul a:nth-of-type(1) li:hover {
          background-image: url("../img/facebook-hover.png"); }
      .footer .footer-wrap .socials ul a:nth-of-type(2) li {
        background-image: url("../img/twitter.png");
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat; }
        .footer .footer-wrap .socials ul a:nth-of-type(2) li:hover {
          background-image: url("../img/twitter-hover.png"); }
      .footer .footer-wrap .socials ul a:nth-of-type(3) li {
        background-image: url("../img/rss.png");
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat; }
        .footer .footer-wrap .socials ul a:nth-of-type(3) li:hover {
          background-image: url("../img/rss-hover.png"); }
      .footer .footer-wrap .socials ul a:nth-of-type(4) li {
        background-image: url("../img/google.png");
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat; }
        .footer .footer-wrap .socials ul a:nth-of-type(4) li:hover {
          background-image: url("../img/google-hover.png"); }
      .footer .footer-wrap .socials ul a:nth-of-type(5) li {
        background-image: url("../img/linkedin.png");
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat; }
        .footer .footer-wrap .socials ul a:nth-of-type(5) li:hover {
          background-image: url("../img/linkedin-hover.png"); }
      .footer .footer-wrap .socials ul a:nth-of-type(6) li {
        background-image: url("../img/skype.png");
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat; }
        .footer .footer-wrap .socials ul a:nth-of-type(6) li:hover {
          background-image: url("../img/skype-hover.png"); }
      .footer .footer-wrap .socials ul a:nth-of-type(7) li {
        background-image: url("../img/vimeo.png");
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat; }
        .footer .footer-wrap .socials ul a:nth-of-type(7) li:hover {
          background-image: url("../img/vimeo-hover.png"); }
      .footer .footer-wrap .socials ul a:nth-of-type(8) li {
        background-image: url("../img/twitter.png");
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat; }
        .footer .footer-wrap .socials ul a:nth-of-type(8) li:hover {
          background-image: url("../img/twitter-hover.png"); }
    .footer .footer-wrap .copyright {
      color: #999999;
      font-family: "Open Sans";
      font-size: 14px; }
      @media (max-width: 511px) {
        .footer .footer-wrap .copyright {
          margin-top: 15px;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; } }
